body {
    width: 1024px;
    height: 1024px;
    bottom: 0;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Germania One', cursive;
    font-size: 64px;
    margin: auto;
}

.field {
    margin: 0;
    display: grid;
    background-image: url(https://cdn.discordapp.com/attachments/558117630142054428/558133270219325450/BG.png);
    grid-template-columns: 128px 128px 128px 128px 128px 128px 128px 128px;
    grid-template-rows: 128px 128px 128px 128px 128px 128px 128px 128px;
    /* border-style: solid; */
    grid-gap: 0px;
    height: 100%;
    width: 100%
}

.one {
    background-image: url(freetileset/png/Tiles/1.png);
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    /* grid-column: 1 / 9;
    grid-row: 1 / 9; */
}

.two {
    background-image: url(freetileset/png/Tiles/2.png);
    grid-column: 3 / 7;
    grid-row: 6 / 7;
}

.three {
    background-image: url(freetileset/png/Tiles/3.png);
    grid-column: 8 / 9;
    grid-row: 7 / 8;
}

.four {
    background-image: url(freetileset/png/Tiles/4.png);
    grid-column: 2;
    grid-row: 7 / 9;
}

.five {
    background-image: url(freetileset/png/Tiles/5.png);
    grid-column: 3 / 8;
    grid-row: 7 / 9;
}

.six {
    background-image: url(freetileset/png/Tiles/6.png);
    grid-column: 8 / 9;
    grid-row: 8 / 9;
}

.one-1 {
  background-image: url(freetileset/png/Tiles/1.png);
  grid-column: 7 / 8;
  grid-row: 7 / 8;
}

.three-2 {
    background-image: url(freetileset/png/Tiles/3.png);
    grid-column: 8 / 9;
    grid-row: 7 / 8;
}

.three-3{
  background-image: url(freetileset/png/Tiles/3.png);
  grid-column: 7 / 8;
  grid-row: 6 / 7;
}

.four-1 {
  background-image: url(freetileset/png/Tiles/4.png);
  grid-column: 7 / 8;
  grid-row: 8 / 9;
}

.thirteen {
    background-image: url(freetileset/png/Tiles/13.png);
    height: 93px;
    grid-column: 3 / 4;
    grid-row: 4 / 5;

}
.fourteen{
    background-image: url(freetileset/png/Tiles/14.png);
    height: 93px;
    grid-column: 4 / 6;
    grid-row: 4 / 5;

}
.fifteen {
    background-image: url(freetileset/png/Tiles/15.png);
    height: 93px;
    width: 128px;
    grid-column: 6 / 7;
    grid-row: 4 / 5;

}

.thirteen-2 {
    background-image: url(freetileset/png/Tiles/13.png);
    height: 93px;
    grid-column: 1;
    grid-row: 2 / 3;

}
.fourteen-2 {
    background-image: url(freetileset/png/Tiles/14.png);
    height: 93px;
    grid-column: 2;
    grid-row: 2 / 3;

}
.fifteen-2 {
    background-image: url(freetileset/png/Tiles/15.png);
    height: 93px;
    width: 128px;
    grid-column: 3;
    grid-row: 2 / 3;

}

.zombie {
    background-image: url(zombiefiles/png/male/Idle.png);
    background-size: 128px 128px;
    grid-column: 1;
    grid-row: 1;
}

.robot {
    background-image: url(robotfree/png/Idle.png);
    background-size: 128px 128px;
    grid-column: 8;
    grid-row: 6;
}

/*---------- BUTTON CONTROL GRID ----------*/

.control-buttons {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 170px 170px;
    grid-template-rows: 170px 170px;
}

/*---------- ZOMBIE CONTROLS ----------*/

.button-up-zombie {
    background: url(freegamebutton/ButtonUp.png);
    width: 170px;
    height: 170px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: none;
}

.button-down-zombie {
    background: url(freegamebutton/ButtonDown.png);
    width: 170px;
    height: 170px;
    grid-column: 2 / 3;
    grid-row: 2;
    border: none;
}

.button-left-zombie {
    background: url(freegamebutton/ButtonLeft.png);
    width: 170px;
    height: 170px;
    grid-column: 1;
    grid-row: 2;
    border: none;
}

.button-right-zombie {
    background: url(freegamebutton/ButtonRight.png);
    width: 170px;
    height: 170px;
    grid-column: 3;
    grid-row: 2;
    border: none;
}

.zombie-icon {
    background-image: url(zombiefiles/png/male/Idle.png);
    background-size: 170px 170px;
    grid-column: 1;
    grid-row: 1;
}
/*---------- ROBOT CONTROLS ----------*/
.button-up-robot {
    background: url(freegamebutton/ButtonUp.png);
    width: 170px;
    height: 170px;
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    border: none;
}

.button-down-robot {
    background: url(freegamebutton/ButtonDown.png);
    width: 170px;
    height: 170px;
    grid-column: 5 / 6;
    grid-row: 2;
    border: none;
}

.button-left-robot {
    background: url(freegamebutton/ButtonLeft.png);
    width: 170px;
    height: 170px;
    grid-column: 4;
    grid-row: 2;
    border: none;
}

.button-right-robot {
    background: url(freegamebutton/ButtonRight.png);
    width: 170px;
    height: 170px;
    grid-column: 6;
    grid-row: 2;
    border: none;
}

.robot-icon {
    background-image: url(robotfree/png/Idle.png);
    background-size: 170px 170px;
    grid-column: 4;
    grid-row: 1;
}
